@tailwind base;
@tailwind components;
@tailwind utilities;

/* ===== Scrollbar Hide ===== */

/* Chrome, Safari, Edge */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Firefox */
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE & Edge */
  scrollbar-width: none;     /* Firefox */
}
